

  .formBody {
    background: #f2f2f2;
    padding: 20px;
    margin: 20px;
    font-size: 1.1em;
  }
  .flexOuter li,
  .flexInner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .flexOuter > li > label,
  .flexOuter li p {
    flex: 1 0 120px;
    max-width: 220px;
  }
  
  .flexOuter > li > label + *,
  .flexInner {
    flex: 1 0 220px;
    padding: 5px;
  }


